[2016-12-21 05:34] jaredsburrows opened #1 "Support Java and Groovy projects"

[2016-12-21 19:20] jaredsburrows opened #2 "Support CSV and JSON outputs"

[2016-12-21 19:21] jaredsburrows opened #3 "Publish to Plugins Repo"

[2016-12-21 20:02] jaredsburrows opened #4 "Ignore Gradle Subprojects and Unspecified versions"
## Exception:
[code]

[2016-12-21 20:05] jaredsburrows opened #5 "Add example output and image to README.md"

[2016-12-22 19:42] benjamin-bader commented on #4
I came here to say the same thing!

Is the intent of this issue to entirely disregard submodules, or will this also report on their own dependencies?

[2016-12-22 19:45] jaredsburrows commented on #4
@benjamin-bader That's a good question. I believe I should either skip or traverse into the `subproject`.

[2016-12-22 21:28] benjamin-bader commented on #4
Without knowing anything about how feasible it is, I'd vote for traversing - skipping sounds like the report might end up missing important dependencies.

[2016-12-22 22:04] jaredsburrows commented on #4
@benjamin-bader I agree. I am working on adding tests and support for this now.

[2016-12-24 19:02] jaredsburrows commented on #2
@jaredrummler maybe use https://github.com/jrummyapps/html-builder for HTML?

[2016-12-25 00:29] jaredsburrows opened #6 "Multiple reruns causes appending HTML"

[2016-12-25 02:08] #6 closed

[2016-12-27 22:42] jaredsburrows commented on #2
Added support here: https://github.com/jaredsburrows/gradle-license-plugin/commit/b64cec4fe19975ab7f15479e25004ad7e88747ee

[2016-12-27 22:42] #2 closed

[2016-12-27 22:43] jaredsburrows commented on #3
I can do this once it supports Java/Groovy projects.

[2016-12-28 06:45] jaredsburrows commented on #1
Closed by this commit: https://github.com/jaredsburrows/gradle-license-plugin/commit/5cff0b2250b30a9dd76388b8507a7e50a315efbb

[2016-12-28 06:45] #1 closed

[2016-12-30 04:50] #5 closed

[2017-01-06 18:39] jaredsburrows opened #8 "List Libraries by License in HTML Report"
This allows the plugin to easily handle duplicates and projects with multiple licenses.

Apache
 - License A

BSD
 - License B

Eclipse
 - License A

[2017-01-06 18:43] jaredsburrows opened #9 "Valid License URLs when generating reports"
Example:
[code]

The plugin cannot valid names but at least I can try to validate actual URLs to prevent generating reports with "NA, NA".

[2017-01-09 02:56] jaredsburrows commented on #3
https://plugins.gradle.org/docs/publish-plugin

[2017-01-09 03:30] jaredsburrows commented on #3
Done. https://plugins.gradle.org/plugin/com.jaredsburrows.license

[2017-01-09 03:30] #3 closed

[2017-01-23 15:56] tmtrademarked commented on #4
Any updates on this? It would be very handy to be able to use this for my project, which contains modules. :-)

[2017-01-23 21:26] jaredsburrows commented on #4
@tmtrademarked I am working on it! I need to most likely iterate through artifacts instead of configurations. Sorry for the wait.

[2017-01-23 22:09] tmtrademarked commented on #4
No worries! Thanks for the response and the excellent plugin. :-)

On Mon, Jan 23, 2017 at 1:26 PM, Jared Burrows <notifications@github.com>
wrote:

[2017-01-23 22:11] jaredsburrows commented on #4
@tmtrademarked It should be fixed soon. Have you tested how the reports look when you "commented" out your modules? Let me know of suggestions/improvements as well.

[2017-03-24 11:50] anstaendig opened #12 "Gradle instructions are wrong"
README says:
[code]
But it should say:
[code]

Or am I wrong? I can make a PR if you want.

[2017-03-26 00:17] jaredsburrows commented on #12
Oops! Bad copy and paste from another one of my projects! Thanks for catching this! I am always happy to accept PRs!

[2017-03-26 18:54] #12 closed

[2017-03-29 11:23] ChristianSchwarz opened #13 "Report generation fails"
When I create an empty sample project in Android Studio and run the licenseReleaseReport I get the following error:

[code]

[2017-03-30 22:11] jaredsburrows commented on #13
@ChristianSchwarz Thanks for the fast report!

Did you add the plugin at the root directory? or the App module?

[2017-04-04 16:50] jaredsburrows commented on #13
@ChristianSchwarz Any update for more information?

[2017-04-06 10:40] ChristianSchwarz commented on #13
@jaredsburrows
I added the plugin to the app module. Hope that helps.

[2017-04-19 07:08] dannyroa commented on #13
I'm getting the same issue as well. I added it on every module's build.gradle.

[2017-04-20 14:58] jaredsburrows commented on #13
@ChristianSchwarz I looks like you are applying the plugin above the ":app:poms" module?

@dannyroa Does your error look similar?

[2017-04-20 19:03] dannyroa commented on #13
@jaredsburrows: Yup. Exactly the same.

[2017-04-26 13:23] cezium commented on #4
Any progress on this issue? It's currently a show stopper

[2017-04-26 17:01] jaredsburrows commented on #4
@cezium Sorry about the way. I will try to work on it this weekend!

[2017-05-02 14:53] MathiasSeguy-Android2EE commented on #13
Hi,
The same here.
Exactly the same.
apply plugin defined in the gradle file of main module (got just one). Sure it's at the right place.
And the stack:
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:licenseMycmsMockDebugReport'.

     Searched in the following locations:
         file:/D:/android-sdk/extras/m2repository//unspecified//unspecified-.pom

[2017-05-02 15:20] jaredsburrows commented on #13
@MathiasSeguy-Android2EE Could you post your dependencies here? Usually this only happens if someone has a library project. Do you have a local aar or jar file?

[2017-05-02 16:08] MathiasSeguy-Android2EE commented on #13
Nope...
dependencies {
    compile fileTree(include: ['*.jar'], dir: 'libs')
    // Espresso
    androidTestCompile('com.android.support.test.espresso:espresso-core:2.2.2', {
        exclude group: 'com.android.support', module: 'support-annotations junit'
    })
    androidTestCompile('com.android.support.test.espresso:espresso-contrib:2.2.2') {
        // Necessary to avoid version conflicts

[2017-05-02 16:33] jaredsburrows commented on #13
@MathiasSeguy-Android2EE Thanks for helping me debug this! Usually when it says `unspecified`, it is looking for one of the following `G:A:V`(Group:ArtifactId/Name:Version).

Do you have any libraries in your "libs" folder? I see you have the following: `compile fileTree(include: ['*.jar'], dir: 'libs'`.

[2017-05-07 07:14] kailash09dabhi commented on #13
Same issue happening on my machine too! there is no lib folder too still!

[2017-05-07 07:33] jaredsburrows commented on #13
Working on test and updating the code now.

[2017-05-08 05:52] jaredsburrows commented on #13
This commit: https://github.com/jaredsburrows/gradle-license-plugin/commit/f2725455452c350561eb45b42954748a09cf9fb6 should have solved this issue. I making a `0.6.0` release now.

[2017-05-08 05:52] jaredsburrows commented on #4
This commit: https://github.com/jaredsburrows/gradle-license-plugin/commit/f2725455452c350561eb45b42954748a09cf9fb6 should have solved this issue. I making a `0.6.0` release now.

[2017-05-08 18:51] benjamin-bader commented on #4
Works great for us - thanks!

[2017-05-08 19:02] jaredsburrows commented on #4
@benjamin-bader Awesome! Thanks for your feedback. I am going to close this for now.

@tmtrademarked @cezium Please let me know if you are still having any issues.

[2017-05-08 19:02] #4 closed

[2017-05-08 19:09] jaredsburrows commented on #13
This is duplicate of https://github.com/jaredsburrows/gradle-license-plugin/issues/4.

@ChristianSchwarz @dannyroa @MathiasSeguy-Android2EE @kailash09dabhi Please try the new version and let me know!

[2017-05-08 19:09] #13 closed

[2017-05-16 16:18] jaredsburrows commented on #9
Fixed by https://github.com/jaredsburrows/gradle-license-plugin/commit/9b58f760042b91a5ee41f64306754735a0c752d8

[2017-05-16 16:18] #9 closed

[2017-05-18 13:20] kailash09dabhi commented on #13
Yes @jaredsburrows  good work! it works now!

[2017-06-01 15:16] arocha55 opened #14 "Support for licenseDebugReport or licenseReleaseReport using Gradle 4.0 / Android"
Hello,

I'm trying to run licenseDebugReport or licenseReleaseReport on my Android app using Gradle 4.0 and Android Plugin Version 3.0.0-alpha2. The task fails to run, see error report below:

[code]

I was not having this issue prior to updating to Gradle 4.0. Any ETA on when can we expect support for latest Gradle version?

Thanks,
Alex

[2017-06-09 12:40] ruclip opened #15 "Square Libs missing"
Hi,

great Job with you Lib! This lib help me a lot to generating my open source view automatically. Thank you!

I found one big problem:

Some dependencies (square etc.) in generated JSON and HTML file are missing.

Dependencies:
[code]

Generated JSON:

[code]

[2017-06-29 19:18] EricKuck opened #16 "Doesn't work with gradle 4.0, android plugin 3.0.0"
`debugCompile` and `releaseCompile` can no longer be resolved directly. Here is the error message:

[code]

The stacktrace reveals that this is coming from `LicenseReportTask.groovy:68`.

[2017-07-18 02:56] jaredsburrows commented on #14
This project is build using Gradle 4.0, I am guessing it is the Android gradle plugin alpha?

[2017-07-27 07:56] jaredsburrows commented on #15
Which square libraries specifically? Also, if they are missing, it must be because their license is missing in the POM.xml file.

[2017-07-27 07:57] jaredsburrows commented on #14
@arocha55 Alright, I tested this with Gradle 4.0 but not `3.0.0-alpha2`.

[2017-07-27 07:58] jaredsburrows commented on #16
@EricKuck Thank you, I am going to merge this into https://github.com/jaredsburrows/gradle-license-plugin/issues/14.

[2017-07-27 07:58] #16 closed

[2017-07-27 14:40] jaredsburrows commented on #14
Looks like I need to add support for `api` and `implementation`.

[2017-08-08 12:25] Tapchicoma commented on #15
Maybe the plugin should show warnings for missing licenses on generating the report.

Also It would be nice to provide some way to set license for this "missed" dependencies.

[2017-08-08 16:02] jaredsburrows commented on #15
@Tapchicoma I can create an issue for the warnings.

For the missing dependencies, you can edit the `.json` file that is creates.

[2017-08-08 16:03] jaredsburrows opened #17 "Show warnings for missing dependencies"
Based on https://github.com/jaredsburrows/gradle-license-plugin/issues/15#issuecomment-320940346, show warnings for when the plugin "misses" or "skips" a dependency.

[2017-08-09 06:25] Tapchicoma commented on #15
Editing the json file is not so nice solution, as it requires manual work afterwards. Then it will be an irritating job to change any dependency.

I prefer fully automatic way - configure once and forget, because it just works. IMHO there should be a way to do it though configuration, either providing some file in extension or some other way. This file should contain mapping to this missing depend

[2017-08-09 06:26] Tapchicoma commented on #17
Would be nice to have optional setting to fail the build on such `misses` or `skips`. By default should be off.

[2017-08-15 00:24] jaredsburrows commented on #15
@Tapchicoma Sort of like a "default" or "fallback"?

[2017-08-15 09:16] Tapchicoma commented on #15
More like a fallback: when plugin can't figure out dependency info, then it should look for it in this "mapping file".

[2017-08-21 23:59] herriojr commented on #17
As long as lack of license info is contained in the json, I'd be happy.

[2017-09-24 00:02] MinkiPan commented on #14
any updates on this one? I am getting the same error on android studio Beta6
it would be great if you can fix this

[2017-09-24 01:27] jaredsburrows commented on #14
Are you see that error or this one? With beta6? I am looking into supporting AGP 3, a lot of the tests break.

[2017-09-24 01:29] MinkiPan commented on #14
same error as @arocha55 posted

[2017-10-01 18:08] jaredsburrows commented on #15
@Tapchicoma Should the mapping file be included in the plugin?

[2017-10-01 18:10] jaredsburrows commented on #14
@arocha55 @MinkiPan The initial `> Resolving configuration 'debugCompile' directly is not allowed` error is fixed here: https://github.com/jaredsburrows/gradle-license-plugin/commit/924fc04d6ce1978c135fda5c6a3008bba1eb90c3.

I have started to add support for `api` and `implementation` here: https://github.com/jaredsburrows/gradle-license-plugin/commit/dec05c6fe71ba8066f755e1d58bc77bba1943a89. I ad

[2017-10-04 17:26] Tapchicoma commented on #15
@jaredsburrows probably no, just to point in [README](https://github.com/jaredsburrows/gradle-license-plugin/blob/master/README.md) that there is such possibility.

Every project has it own set of dependencies and also it will be easier to maintain the plugin itself.

[2017-10-05 18:04] jaredsburrows commented on #15
What would this feature look like? How would it work? If a license is missing, default to Apache 2.0?

[2017-10-05 18:16] Tapchicoma commented on #15
In case of missing license plugin should write warning in gradle output.

Optionally: add plugin extension flag that, when enabled, will fail the build on missing license.

[2017-10-06 13:09] jorgevila opened #19 "Resolving configuration 'debugCompile' directly is not allowed"
on Android
        classpath 'com.android.tools.build:gradle:3.0.0-beta7'
        gradle-4.1-all.zip

 What went wrong:
Execution failed for task ':PayTVApp:licenseMovistarGO_PE_DebugReport'.

* Try:
Run with --info or --debug option to get more log output.

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ''.
        at org.gradle.api.internal.tasks.execution

[2017-10-20 20:49] agustinsivoplas commented on #14
How to test the 0.7 SNAPSHOT version? I am not able to test it. I am stuck in the same problem

[2017-10-21 00:39] jaredsburrows commented on #14
@agustinsivoplas Just updated the README.md: https://github.com/jaredsburrows/gradle-license-plugin#download.

[2017-10-21 00:40] jaredsburrows commented on #19
Thank you for posting this, I will have to work around this. This is a duplicate of https://github.com/jaredsburrows/gradle-license-plugin/issues/14.

[2017-10-21 00:40] #19 closed

[2017-10-21 00:50] jaredsburrows commented on #17
I added basic logging for developers here: https://github.com/jaredsburrows/gradle-license-plugin/commit/08dc12e048c131c67adb06882b8a63dece4dc930#diff-d80ecee9904217d739f465cdc0085e2aR128.

[2017-10-21 01:27] jaredsburrows commented on #14
I have just released `0.7.0`.

[2017-10-21 01:29] jaredsburrows commented on #15
I have added logging for developers to show which dependencies are missing POM data.

For example:
[code]

Source: https://github.com/jaredsburrows/android-gif-example

[2017-10-21 01:43] jaredsburrows commented on #15
@ruclip I have reported this issue here: https://github.com/square/retrofit/issues/2529.

If they let me make a PR to add the license information in the POM files, the plugin will pick it up next time.

[2017-10-21 09:18] MinkiPan commented on #14
works for me now on AS3.0 RC2

[2017-10-21 09:29] jaredsburrows commented on #14
Good to hear!

On Oct 21, 2017 2:18 AM, "MinkiPan" <notifications@github.com> wrote:

[2017-10-21 17:02] #14 closed

[2017-10-22 03:05] jaredsburrows commented on #15
@ruclip Since the issue was closed, I wrote to support traversing parent POM files here: https://github.com/jaredsburrows/gradle-license-plugin/pull/20.

[2017-10-22 23:41] jaredsburrows opened #21 "Look into using Gradle's PomReader"

[2017-10-23 13:05] agustinsivoplas commented on #14
FYI, works for me too!

[2017-10-23 17:26] jaredsburrows commented on #14
@agustinsivoplas It should, I have a test for subprojects here: https://github.com/jaredsburrows/gradle-license-plugin/blob/master/src/test/groovy/com/jaredsburrows/license/LicenseReportTaskSpec.groovy#L1057.

[2017-11-02 03:26] jaredsburrows commented on #17
Have you all tried the latest?

[2017-12-03 02:17] MatthewTamlin opened #22 "Automatically running report tasks"
I've been trying to set up my project so that the report generation task for the current build variant automatically runs each time the project is rebuilt, so that I can automatically copy the JSON report into the build variant's  assets directory. I've managed to make the report tasks run on rebuild, but the generated reports are always empty.

Here's the root build.gradle file:
[code]

Here's th

[2017-12-03 02:54] jaredsburrows commented on #22
Maybe I should put them in the folder already.

Developers can then use gitignore to ignore the files and let their CI's generate the builds files and update the applications before they publish.

Maybe we can change how this works and/or make it a feature?

[2017-12-03 03:07] MatthewTamlin commented on #22
That would be a useful feature. Alternatively developers could specify configuration options via something like:

[code]

I've never made a gradle plugin so I don't know if this is feasible or even possible.

There would still be the problem of automatically running the tasks when the project is built. Currently the tasks have to be run manually though the GUI or the command line, which makes runn

[2017-12-04 20:27] jaredsburrows commented on #22
This is a good idea! Feel free to contribute with a few PRs. I will look into adding this feature soon.

[2017-12-09 03:31] MatthewTamlin commented on #22
I've done some research and I think I can make the modifications. I'll try and find some time to make a PR soon.

[2017-12-09 03:40] MatthewTamlin commented on #22
As not to break backwards compatibility, I think the default case should be:
- HTML: Created and copied to assets.
- JSON: Created but not copied to assets.

Then for each report type, allow the configuration closure to either:
- Disable the report entirely.
- Only generate the report.
- Generate the report and then copy it to assets.

This has the additional benefit of not breaking the existing t

[2017-12-14 14:02] hardysim opened #24 "[Feature] - Show complete license text"
It is possible (and does it make sense) to show the complete license-text instead of just the title and the link?

Just like in the screenshot in the `README.md` here:

<img src="https://www.bignerdranch.com/assets/img/blog/2015/07/screenshot-gmail.png" />

My generated code looks like this:

![image](https://user-images.githubusercontent.com/3737512/33995992-fdd7f6ac-e0df-11e7-968e-668028a9171b.p

[2017-12-23 08:09] juergenzimmermann opened #25 "Kotlin projects also use JARs"
I tried the gradle-license-plugin for a pure Kotlin project. However, I get the following error message:

[code]

[2017-12-28 15:58] jaredsburrows commented on #25
@juergenzimmermann What version are you using? I have a test for this here: https://github.com/jaredsburrows/gradle-license-plugin/blob/master/src/test/groovy/com/jaredsburrows/license/LicensePluginJavaSpec.groovy#L19 and the code for it is here: https://github.com/jaredsburrows/gradle-license-plugin/blob/master/src/main/groovy/com/jaredsburrows/license/LicensePlugin.groovy#L11.

[2017-12-28 15:59] jaredsburrows commented on #24
@hardysim Yes, I agree. I want to show all of the license text. It would be nice if we could do this dynamically, I am thinking we can locally store the license files with the plugin.

[2017-12-28 16:00] jaredsburrows commented on #22
@MatthewTamlin Oh sorry, I didn't see you CC'd me on this. I thought you were going to send in a pull request. Sure, I agree!

[2017-12-29 06:37] juergenzimmermann commented on #25
I'm using the following versions:

* gradle-license-plugin 0.7.0
* Gradle 4.4.1
* JDK 9.0.1
* Kotlin 1.2.10

[2017-12-29 22:17] jaredsburrows commented on #25
Same. I tested this on the Kotlin module of https://github.com/jaredsburrows/cs-interview-questions/tree/master/kotlin.

What plugin are you using? Those test cover the Kotlin plugins.

[2017-12-31 02:34] jaredsburrows commented on #25
I was not able to repro this.

[2018-01-01 14:56] juergenzimmermann commented on #25
@jaredsburrows I attached an almost empty project to reproduce the issue.
[tc-25.zip](https://github.com/jaredsburrows/gradle-license-plugin/files/1596124/tc-25.zip)

[2018-01-02 17:52] jaredsburrows commented on #25
Can you tell me which Kotlin plugin you are using? This way, I can write a test for it.

Also, it would be nice if you upload this project as an open source project on Github?

[2018-01-09 12:11] ChristianCiach opened #26 "Recursively scan parent POMs for license"
This issue only exist for me to reference in an incoming pull request.

[2018-01-09 12:21] ChristianCiach opened #28 "Support multiple licenses; add more attributes to json"
This issue only exist for me to reference in an incoming pull request.

[2018-01-09 15:16] jaredsburrows commented on #28
Closed by https://github.com/jaredsburrows/gradle-license-plugin/pull/29.

[2018-01-09 15:16] #28 closed

[2018-01-09 15:17] jaredsburrows commented on #26
Closed by https://github.com/jaredsburrows/gradle-license-plugin/pull/27.

[2018-01-09 15:17] #26 closed

[2018-01-09 15:17] jaredsburrows commented on #15
Closed by https://github.com/jaredsburrows/gradle-license-plugin/pull/27.

[2018-01-09 15:17] #15 closed

[2018-01-09 15:27] jaredsburrows commented on #25
@juergenzimmermann This test passes:
[code]

[2018-01-09 15:27] jaredsburrows commented on #22
@MatthewTamlin Any update?

[2018-01-09 21:54] MatthewTamlin commented on #22
Haven’t managed to get around to it yet, other projects have been taking up all of my time. I’ll see if I can make some time this weekend.

[2018-01-21 02:49] MatthewTamlin commented on #22
I've got everything working locally, I just need to push the branch up so I can open a PR. I'm getting a 403 currently, would you mind giving me push permission?

[2018-01-21 02:57] jaredsburrows commented on #22
@MatthewTamlin You have to create a fork, push up to your own repo and then Github will allow you to make a pull request.

[2018-01-22 16:18] jaredsburrows commented on #21
Let's not rely on internal APIs.

[2018-01-22 16:18] #21 closed

[2018-01-22 16:21] jaredsburrows commented on #22
Closed by https://github.com/jaredsburrows/gradle-license-plugin/pull/30.

[2018-01-22 16:21] #22 closed

[2018-01-22 16:22] jaredsburrows commented on #25
@juergenzimmermann Can you provide a Github repo to reproduce your issue?

[2018-01-22 16:22] jaredsburrows commented on #8
Something to think about.

[2018-01-22 16:22] #8 closed

[2018-01-24 09:38] bjarneheden commented on #25
I have the same error on my project.
But when using the 0.8.1-SNAPSHOT version, it does work.

[2018-01-24 10:17] bjarneheden opened #31 "Error when using configuration on version 0.8.0"
I get "Error:(123, 0) Could not find method licenseReport() for arguments [build_cqkmblnzf6152h2yrw5tqbk5i$_run_closure2@234d2d61] on project ':app' of type org.gradle.api.Project."
When trying to use configuration using version 0.8.0.

licenseReport {
    generateHtmlReport = false
    generateJsonReport = true
    copyHtmlReportToAssets = false
    copyJsonReportToAssets = true
}

(I only want a

[2018-01-24 16:58] jaredsburrows commented on #31
@MatthewTamlin @bjarneheden This is my fault but basically we just merged this feature in. Let me take a look into releasing it soon!

[2018-01-24 16:59] jaredsburrows commented on #25
@bjarneheden Can you give a project hierarchy or a Github link to your project? I want to resolve this issue you all.

[2018-01-24 18:32] jaredsburrows commented on #31
@bjarneheden Released `0.8.1` here: https://github.com/jaredsburrows/gradle-license-plugin/commit/6990241e5cfe9bbbe8e4977ddac579ef2f01ee77.

[2018-01-24 18:32] #31 closed

[2018-02-08 17:29] jaredsburrows commented on #25
@bjarneheden Any update?

[2018-02-15 17:36] jaredsburrows commented on #25
@bjarneheden  ?

[2018-03-12 19:47] jaredsburrows commented on #25
Closing because no response.

[2018-03-12 19:47] #25 closed

[2018-03-13 03:59] jaredsburrows commented on #24
@hardysim I am looking into working on this now.

[2018-03-14 04:31] jaredsburrows commented on #17
Closing for now. If need more logging information, please let me know.

[2018-03-14 04:31] #17 closed

[2018-03-14 04:50] #24 closed

[2018-03-14 07:46] jaredsburrows commented on #24
@hardysim Please try out the latest `0.8.3` version for this feature.

[2018-03-14 07:47] jaredsburrows commented on #25
I believe this is fixed in the latest master. Please try the snapshot `0.8.4-SNAPSHOT`.

[2018-03-14 12:46] martinbonnin commented on #4
Looks like it's still not working for me. You can reproduce with this repo https://github.com/martinbonnin/TestLicenses

It has a `library` module which declares a dependency on `ormlite` but can't find any `ormlite` mention in the generated files

[2018-03-14 13:32] juergenzimmermann commented on #25
The snapshot works fine. I attach my build.gradle and gradle.properties (without your snapshot). Feel free to use it.
[gradle.zip](https://github.com/jaredsburrows/gradle-license-plugin/files/1811257/gradle.zip)

[2018-03-14 13:34] jaredsburrows commented on #25
@juergenzimmermann Thanks for getting back to me. I will make another release soon.

[2018-03-14 23:24] jaredsburrows commented on #25
@juergenzimmermann I just released `0.8.41`. Thanks for your patience.

[2018-03-14 23:27] jaredsburrows commented on #4
@martinbonnin What is the error you are seeing?
I am seeing:
[code]
Here is the image:
<img width="679" alt="screen shot 2018-03-14 at 4 27 25 pm" src="https://user-images.githubusercontent.com/1739848/37436325-a10fa0da-27a4-11e8-834e-4de514438960.png">

[2018-03-14 23:31] benjamin-bader commented on #4
It looks like the bug is that there is no license entry for `ormlite`.

[2018-03-14 23:32] jaredsburrows commented on #4
@benjamin-bader O! I can create a possible "default" or try to show what exists in the current POM file. I'll explore the POM file of `ormlite`.

[2018-03-15 03:02] jaredsburrows commented on #4
@benjamin-bader @martinbonnin After spending sometime writing tests around this. My project currently handles:
 - multiple java modules
 - android and java modules
 - but not an android app module and a android library module

[2018-03-15 04:16] juergenzimmermann commented on #25
The error is back...

[2018-03-15 04:17] jaredsburrows commented on #25
Same error? I am no longer explicitly checking for "Kotlin" as it already
brings in the java plugin.

On Mar 14, 2018 9:16 PM, "Juergen Zimmermann" <notifications@github.com>
wrote:

[2018-03-15 08:34] hardysim commented on #24
@jaredsburrows super cool 👍
Will there be (and when) a new release including this change?

[2018-03-15 09:05] jaredsburrows commented on #24
I said it was released is `0.8.3`.

[2018-03-15 10:18] martinbonnin commented on #4
Yeah, this has to do with multi variant somehow. The plugin cannot resolve the android library dependencies due to errors like:

`Execution failed for task ':app:licenseReleaseReport'.

 Required by:
     project :app

      - debugApiElements
      - debugRuntimeElements
      - releaseApiElements
      - releaseRuntimeElements`

[2018-03-23 23:24] j796160836 opened #36 "Ignore specify dependency modules?"
Hi there,
I would like to thanks Jared Burrows for this awesome project.
I have question about using this project.

1. Does these have the configure settings for ignore specify modules not show up in gradle configuration?
e.g.
[code]
or something equals or relevant?

2. I found there have `${project.groupId}.${project.artifactId}` show up in accident.
(`${project.groupId}.${project.artifactId}` us

[2018-03-25 03:46] jaredsburrows commented on #36
Where is `${project.groupId}.${project.artifactId}` coming from?

[2018-03-26 15:07] eygraber opened #37 "Empty JSON Report"
I'm using v0.8.41, gradle v4.5.1, android plugin v3.0.1.

My applied plugins are:

[code]

My `licenseReport` extension is:

[code]

If I run `:app:license<my flavor>DebugReport` it completes and logs that it wrote the json report, but opening that file just shows `[]`.

My dependencies are a mix of local modules, and maven artifacts.

[2018-03-26 21:43] szugyi opened #38 "Empty report generated when a task depends on the LicenseReport task"
I have tried to generate reports every time the project is built, but in case I add the LicenseReport task to run before another task both the generated html and json files are empty.
As I can see in the discussion in issue #22 it should be possible since version 0.8.1.

If I run the task individually with `./gradlew licenseDebugReport` the generated files contain all the dependencies I have. Howe

[2018-03-26 21:50] MatthewTamlin commented on #38
I was running into the same problem when I opened issue #22. Unfortunately the issue got somewhat sidetracked, and was ultimately closed after I enabled task configuration. It probably should have been renamed or left open.

I played around at length trying to do exactly what you're doing. It seems that for some reason the dependencies haven't been resolved when the license task is bring run, so y

[2018-03-26 22:06] szugyi commented on #38
Thank you for the quick response!
It would be really useful if we could make the plugin generate the report on every build.

[2018-03-26 22:35] MatthewTamlin commented on #38
Yeah, it would really help for CI and CD.

I was just having a look at the [Open Whisper Systems' Witness Plugin](https://github.com/signalapp/gradle-witness/blob/master/src/main/groovy/org/whispersystems/witness/WitnessPlugin.groovy). It seems they're using `afterEvaluate` to execute a task after the dependencies have been resolved. I'm going to set up a test project to see if I can do something

[2018-03-26 22:43] MatthewTamlin commented on #38
Looks like anything involving `afterEvaluate` will have to be done at the plugin level, just like in the link I posted above. @jaredsburrows thoughts?

[2018-03-27 14:54] jaredsburrows commented on #38
@MatthewTamlin Wasn't #22 your issue that you solved by PR #30?

@szugyi It used to generate after every build, I believe. I believe that #30 may have changed that?

[2018-03-27 14:55] jaredsburrows commented on #37
What does the HTML report say?

In this the correct way to use the extension @MatthewTamlin?

[2018-03-27 18:29] eygraber commented on #37
@jaredsburrows The HTML report is also empty:

[code]

[2018-03-27 19:31] szugyi commented on #38
@jaredsburrows I have just checked out the 0.8.0 version which does not contain the changes from the mentioned PR, but unfortunately the generated reports are also empty if I just run the assembleDebug task. It contains the license info of the dependencies only if I run the licenseReport task individually.

[2018-03-28 02:58] jaredsburrows commented on #37
What does the report say without using `licenseReport` extension?

[2018-03-28 03:06] MatthewTamlin commented on #37
The config options are being used correctly. Unsure why no dependencies would be resolved.

[2018-03-28 03:07] jaredsburrows commented on #37
@MatthewTamlin Thanks

@eygraber Can you share your build.gradle file?

[2018-03-28 06:17] eygraber commented on #37
Removing the `licenseReport` extension didn't help.

[code]

[2018-03-28 14:57] jaredsburrows commented on #37
Thanks. I will have to take a look into this. I have many tests around this. I am not sure what is going on.

[2018-03-29 04:12] jaredsburrows commented on #38
@szugyi @MatthewTamlin The reason I do not run after every build is because I do not want to potentially slow down other's builds. If you want to run the license report for updated license results then you can do so and add it to your SCM. Maybe I can look into running it after each build.

[2018-03-29 06:38] szugyi commented on #38
@jaredsburrows Yes, that is how we use the plugin currently, but this can be forgotten easily, especially in a big team to run it every time a dependency is added, updated or removed.

[2018-03-29 06:41] jaredsburrows commented on #38
@szugyi Would you want to make a PR for this?

[2018-03-29 06:42] szugyi commented on #38
@jaredsburrows Unfortunately, I don't think I will have the time for this anytime soon.

[2018-03-29 06:43] jaredsburrows commented on #38
This should be easy to do. I will look into it tomorrow.

[2018-03-29 06:43] szugyi commented on #38
Thanks!

[2018-03-29 08:53] ghost opened #40 "Possibility for different HTML report file name for each module"
Following situation:

There is an app which consist of two modules:  app itself and SDK it's being built upon.
If I apply this plugin to both modules, it will 2 create assets/open_source_licenses.html files -one per module. So when I build the APK, one of the files is naturally lost.

Solution that would work in my case is to have for example automatic naming per module: like assets/open_source_li

[2018-04-03 14:31] hardysim commented on #37
I have the same problem. The report-file is being created and copied to the asset-folder but empty (both, JSON and HTML).

I'm using `0.8.41` and tried running it manually for `licenseReleaseReport` and `licenseDebugReport` as well as using my automated run using the following script which used to work:

[code]

---

It stopped working once with no change to remember so maybe it's related to the A

[2018-04-03 14:33] jaredsburrows commented on #37
@hardysim Using your above code used to work? My guess would be that I removed `project.evaluationDependsOnChildren()` here: https://github.com/jaredsburrows/gradle-license-plugin/commit/a3a60394fdac345343fdc83a792a9ff2788cfba9.

Does it work if you run it directly?

[2018-04-03 17:07] hardysim commented on #37
nope, it does not (I tried running it manually with `gradlew licenseDebugReport`)

[2018-04-04 06:37] eygraber commented on #37
@jaredsburrows maybe the issue is related to multi-module projects? I just tried on my smallest module, and had the same issue with an empty report. It also created an HTML file even though I said not to (command was `./gradlew :utils:licenseReport`):

[code]

And the output was:

[code]

[2018-04-04 09:24] hardysim commented on #37
Ah, I found the cause:
I'm using the [gradle-play-publisher](https://github.com/Triple-T/gradle-play-publisher) library as well and here the configuration changed with a recent version. Generating the licence-report **is working with the old-style configuration** of `gradle-play-publisher`.

So, I'm fine now (and created an [issue for this](https://github.com/Triple-T/gradle-play-publisher/issues/

[2018-04-04 10:02] hardysim commented on #37
Oh hmm, it seems that it's not related to this lib. So **there is still a problem with empty reports**.

---

I had also disabled the kotlin-`experimental`-flag (needed for https://github.com/lisawray/groupie). I need to set this to make groupie working correctly but then the licence-reports are broken.

So, any idea why this flag breaks the reports?

PS: I see in the log, that when the reports ar

[2018-04-06 08:36] RocketRider opened #41 "Aggregate licences to one file in multi module project"
I have an android project with a lot of library modules. I would like to have all dependencies in one file. Is this currently possible? I would like to apply the plugin to the root gradle file, so it can check all modules.

At the moment I will get one licence report per module.
For this I added the plugin in all modules.

[2018-04-11 03:50] eygraber commented on #37
@jaredsburrows any update on this?

[2018-04-11 14:37] jaredsburrows commented on #37
I will take a look tonight or this weekend. Most likely need to revert a
recent change. Does a previous version work?

Jared Burrows

*jaredsburrows@gmail.com <jaredsburrows@gmail.com>*
LinkedIn: https://www.linkedin.com/in/jaredsburrows

On Tue, Apr 10, 2018 at 8:50 PM, Eliezer Graber <notifications@github.com>
wrote:

[2018-04-11 21:57] eygraber commented on #37
I tried back until 0.6.0 (which didn't work at all), and the result was the same. `[]`

[2018-04-11 22:01] jaredsburrows commented on #41
Have you tried just applying this to the "app" module? You only need the license file for the end production app.

[2018-04-11 22:01] jaredsburrows commented on #40
Have you tried just applying this to the "app" module? You only need the license file for the end production app.

[2018-04-11 22:03] jaredsburrows commented on #37
@eygraber All these versions? https://bintray.com/jaredsburrows/maven/gradle-license-plugin

I wonder if there is an edge case in your project? I have tests that use the latest AGP plugins and support multi module builds.

[2018-04-11 22:35] eygraber commented on #37
@jaredsburrows removing:

[code]

From my build.gradle fixed it. I look forward to hearing how that broke things :smile:

[2018-04-12 10:03] appmagnetics commented on #40
Yes, this will only include modules used by the app, not by sdk.

[2018-04-12 16:18] jaredsburrows commented on #40
@appmagnetics Are you saying it does not go into your `implementation project(':mylib')` dependencies? I have tests for that particular situation.

[2018-04-13 05:57] RocketRider commented on #41
Yes I tried that, but it only shows the direct dependencies of the app module not the dependencies of the other gradle modules.
I would like to have one licence file for the end production app.

[2018-04-13 13:57] jaredsburrows commented on #41
I have a few tests with modules. Can you great a test project on GitHub so
I can work on it?

On Thu, Apr 12, 2018, 10:57 PM Michael Möbius <notifications@github.com>
wrote:

[2018-04-16 10:00] appmagnetics commented on #40
@jaredsburrows
we are not using Gradle 3.x so these are the including lines:

debugCompile project(path: ':sdk', configuration: 'debug')
releaseCompile ‘co.my.sdk:mysdk-android-3.7.0@aar'

[2018-04-16 10:17] appmagnetics opened #42 "Firebase license is not included in report"
Following dependencies are used:

    compile 'com.android.support:support-v4:25.3.1'
    compile 'com.android.support:multidex:1.0.1'
    compile 'com.squareup.retrofit:retrofit:1.9.0'
    compile 'com.squareup.okhttp3:okhttp:3.8.1'
    compile 'com.google.firebase:firebase-messaging:10.0.1'
    compile 'com.googlecode.libphonenumber:libphonenumber:8.4.2'

But firebase does not manage to be inclu

[2018-04-16 15:00] jaredsburrows commented on #40
@appmagnetics That is fine. I am wondering if the plugin is not picking up project(path: ':sdk', configuration: 'debug')?

[2018-04-20 22:26] eygraber commented on #37
That enables Kotlin experimental extensions for Android (view caching, parceling, etc...). Shouldn't be doing anything to the build environment really; I believe it's a flag for their annotation processor to process certain annotations, but I could be wrong.

[2018-04-23 11:50] markhoughton opened #43 "Dependencies without poms are ignored"
If a dependency exists but doesn't have a pom associated with it, this plugin will not include the dependency in either the HTML or JSON reports, or in the console logging.

We get logging when a dependency doesn't have any license info listed in the pom, but nothing is logged when the pom itself is not found.

[2018-04-27 17:36] eygraber commented on #37
Sorry I was asking about getting this plugin to work when experimental extensions are enabled. Disabling it is not an option for me (and probably anyone using Kotlin with Android who is already using it).

[2018-04-27 17:42] jaredsburrows commented on #37
For view caching(using the ID directly) you do not need to have `androidExtensions` block. Are you using anything else?

Also, if you only need this plugin for the generation, you can have an if/else check around `androidExtensions` to toggle it off so the plugin can work naturally.

I rather not add this code in this plugin because this plugin should work will all POM dependencies. I do not want

[2018-04-27 17:58] eygraber commented on #37
We need it for the view caching for `LayoutContainer`, and we use `Parcelize`.

To be clear, you're suggesting to check if the license task is in the task graph, and if it is, disable androidExtensions? That should work for us (maybe add something to the readme here).

Does enabling androidExtensions pull in a dependency that the task can't handle? If so, I can file a bug on Kotlin for that.

[2018-04-27 18:26] jaredsburrows commented on #40
For this to work properly, you should be using `releaseCompile project(path: ':sdk', configuration: 'release')`. I believe it gets stuck on the AAR.

[2018-04-27 18:27] jaredsburrows commented on #41
Any update on this? If you have `implementation project(":sdk")` in your `build.gradle`, it should work read into the projects dependencies.

[2018-04-27 18:28] jaredsburrows commented on #42
Firebase is closed source.

[2018-04-27 18:28] #42 closed

[2018-04-27 19:07] eygraber commented on #37
I tried (didn't want to duplicate for each project that uses it):

[code]

and that didn't fix it.

I'll be happy to file the bug, but they're more likely to take action if I can tell them why experimental being enabled breaks this plugin. Do you know what the cause is? I can look for it myself, but not knowing the codebase for this plugin all that well it could take some time.

[2018-04-27 20:52] jaredsburrows commented on #37
I am not sure. I have not spent time to look at the Kotlin plugin source code. Here is a starting point: https://github.com/JetBrains/kotlin/blob/06903f803bb9ef9c2f8f625e428e8dcedf4cd3f9/libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/internal/AndroidSubplugin.kt#L38.

[2018-04-27 21:02] eygraber commented on #37
So all they do is dynamically add a dependency. Do you have an easy way to test your parser directly against a POM, so that I can see what the issue is?

[2018-05-08 07:55] eygraber commented on #37
@jaredsburrows I did a little digging and it seems like the only difference between having `androidExtensions.experimental` on or off is that if it is enabled, then [`configuration.canBeResolved`](https://github.com/jaredsburrows/gradle-license-plugin/blob/ccbdb28b7d4551a54fee57f4834d04925d803c74/src/main/groovy/com/jaredsburrows/license/LicenseReportTask.groovy#L110) returns `false` for every con

[2018-05-08 08:06] eygraber commented on #37
I also found a hack that works, although I reallllllly don't like it:

[code]

[2018-05-15 14:16] j796160836 commented on #36
@jaredsburrows I don't know actually.

[2018-05-17 10:15] markhoughton opened #45 "Android tests fail on Windows"
Android tests fail when running on Windows.

This seems to be due to Windows paths for the temporary generated projects being written to local.properties without escaping backslashes.

I have a fix for this. Will submit a pull request shortly.

[2018-05-31 19:20] #45 closed

[2018-06-12 11:33] hidroh opened #47 "Publish to Maven Central?"
Hi, this is not a request but rather I would like to know your thought about publishing this plugin to Maven Central as well?

Jcenter has some recent changes that break builds and there have been some public debates about switching from `jcenter()` to `mavenCentral()` (or `google()` when appropriate), which I'd rather not quote here.

I think it would be nice if there is an option to adopt this p

[2018-06-12 16:42] amnong opened #48 "Version is null for some dependencies"
For example, in my project, we use Apache HttpCore, and the JSON file contains this entry:
[code]

Version should be extractible from some location. For example, plugin "Gradle-License-Report" managed to figure out that in my project we use httpcore 4.4.9 (they titled it "Manifest version"). That plugin does not feature a JSON report mode, which is why I wanted to use your plugin, but sadly the JS

[2018-06-12 18:29] jaredsburrows commented on #48
I found the POM here: http://central.maven.org/maven2/org/apache/httpcomponents/httpcore/4.4.9/httpcore-4.4.9.pom. The POM does include the version. I will take a look.

[2018-06-12 18:31] jaredsburrows commented on #47
What changes are breaking builds? This plugin is published on both `jcenter()` and `gradlePluginPortal()`. I believe `gradlePluginPortal()` mirrors both `jcenter()` and `mavenCentral()`.

[2018-06-13 08:08] hidroh commented on #47
It's not this plugin breaking builds. Long story short on jcenter it's because `jcenter()` mirrors `google()` dependencies unnecessarily. Re `gradlePluginPortal()`, does it ultimately rely on `jcenter()`, or itself is a repository?

[2018-06-14 08:13] eygraber commented on #37
@jaredsburrows ever get a chance to look at this? I really don't like using the above workaround.

[2018-06-14 20:46] jaredsburrows commented on #37
I am not sure really what you want me to do. I rather not support AGP + experimental Kotlin plugins.

[2018-06-14 21:38] eygraber commented on #37
The plugin isn't experimental; the code in the artifact it downloads is. The issue seems to be related to when the configuration is resolvable, but I don't understand how that happens ([as I explain here](https://github.com/jaredsburrows/gradle-license-plugin/issues/37#issuecomment-387317480)).

In general, Kotlin experimental doesn't mean not production ready; [they mark it as such for compatibil

[2018-06-18 09:17] ligi opened #49 "Feature request: task to generate files for all build variants"
I like that this plugin can generate license reports for the different build-variants. But I often have a lot of them and it would be great to have one task that generates the license infos for all variants.

[2018-06-23 15:20] hannesstruss commented on #37
It appears to me what is actually happening is that setting `configuration.canBeResolved = true` fails with `org.gradle.api.InvalidUserDataException: Cannot change role of configuration ':app:api' after it has been included in dependency resolution.`, for `api` and a few other configurations.

When I move the assignment of `canBeResolved` out of the task execution phase and into the configuration

[2018-07-16 09:42] JohannesPtaszyk opened #50 "No year and no developer shown in HTML"
It would be nice to have the year and developer shown for each entry in the HTML file.

Also the License in the HTML looks a little bit off, since the String "Copyright [yyyy] [name of copyright owner]" is not really appealing.

I myself got no experience in groovy, so it would be nice if you could have a look at the issue.

[2018-08-10 21:25] eygraber commented on #37
@jaredsburrows Realm had a similar issue and fixed it here - https://github.com/realm/realm-java/pull/6088

[2018-08-17 20:52] dsampangi opened #51 "Generate Report fails with below Error"
:emp-api:licenseReport FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':emp-api:licenseReport'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

[2018-08-25 17:31] piegamesde opened #52 "Identical license shows up twice"
I just generated a report and noticed that the Apache License 2.0 shows up in there twice. The first time for:
- Apache Log4j API
- Apache Log4j Commons Logging Bridge
- Apache Log4j Core
and the second time for:
- Apache Commons Logging
- Elsa Serialization
- Gson
- Guava: Google Core Libraries for Java
- Kotlin-runtime
- Kotlin-stdlib
- LZ4 and xxHash
- Mapdb
- Picocli - a mighty tiny Command Li

[2018-09-18 18:34] #47 closed

[2018-09-18 18:35] jaredsburrows commented on #49
I believe the current version will pull from all available configurations? Show it is showing too many licenses for the particular flavor?

[2018-09-18 18:37] jaredsburrows commented on #50
This is currently in the JSON format and not the HTML format. So you just want the same details in the HTML as well?

[2018-09-18 18:39] jaredsburrows commented on #51
What type of project is `emp-api`? This should have been bypassed by https://github.com/jaredsburrows/gradle-license-plugin/blob/master/src/main/groovy/com/jaredsburrows/license/LicenseReportTask.groovy#L71.

[2018-09-18 18:39] jaredsburrows commented on #37
Could you make a PR that include these changes and a test for it?

[2018-10-04 15:46] jaredsburrows commented on #50
I'd gladly accept a PR as well :)

[2018-10-22 11:48] neworld commented on #38
After upgrade android gradle plugin to 3.2.0, license file became empty. Also, another one in `build/reports/ license` is empty as well. During debugging I found, somehow dependencies can't be resolved, if license generation task depends on another build task.

![1540208046](https://user-images.githubusercontent.com/38703/47290693-5f7edf00-d609-11e8-801c-6ef43ad03c32.png)

However, launching manua

[2018-10-22 12:03] hardysim commented on #38
For anyone still struggling with this:

I've switched to https://developers.google.com/android/guides/opensource which works just fine.

---

Hint:
You might want to add a theme to the activities of this library like so (e.g. when using a launcher theme or one without an actionbar):

[code]

[2018-12-05 10:49] egargan opened #55 "Running multiple build variant license tasks crashes build"
In a project with a few different build variants, running a full `gradle build` results in a crash.

The crash seems to be caused by each variant's license task conflicting with one another. When the first license task runs, [it creates a configuration called 'poms'](https://github.com/jaredsburrows/gradle-license-plugin/blob/master/src/main/groovy/com/jaredsburrows/license/LicenseReportTask.groov

[2018-12-19 02:08] jaredsburrows commented on #55
I get this error:
[code]

[2018-12-19 09:01] egargan commented on #55
Yep that's the issue we're getting too, is this expected behaviour? We're currently just deleting the 'poms' configuration after each task which seems to work fine - we get good output from the license task for each build variant. I'm thinking maybe this is something that should be done by the task itself?

[2018-12-30 14:03] amnong commented on #48
Hi @jaredsburrows, thanks again for this lovely project. I was wondering if you had a chance to examine the problem.

Thanks!
Amnon

[2019-01-10 09:49] Yousha opened #59 "Missing TEXT report"
Is it possible to add **TEXT** based reports in this plugin?

[2019-01-25 21:37] #50 closed

[2019-01-26 04:15] jaredsburrows commented on #50
No PR?

[2019-02-05 17:02] jaredsburrows commented on #59
What would the format look like?

[2019-02-07 07:30] 030 opened #63 "Task 'licenseReport' not found in root project (multiple projects)"
I have added the following to the build.gradle file of one of the projects:

[code]

but the licenseReport task cannot be found, but while it is available when I added the plugin to a project that I downloaded from the springInitializer then it works.

Could you indicate whether this plugin should also work in a multi project?

[2019-02-07 09:05] jaredsburrows commented on #63
What does your project structure look like? Can you post the error here?

[2019-02-07 09:07] jaredsburrows commented on #43
Can you show an example of a dependency without a POM?

[2019-02-07 09:08] jaredsburrows commented on #41
Bump

[2019-02-07 09:08] jaredsburrows commented on #40
Are you still seeing this?

[2019-02-07 09:13] appmagnetics commented on #40
Sorry I cannot verify it any more since I no longer working in that company and have no access to the source code.

[2019-02-07 09:17] jaredsburrows commented on #49
Bump

[2019-02-08 19:18] darrengyles commented on #38
@jaredsburrows any update? Thanks.

[2019-02-08 19:26] jaredsburrows commented on #38
I recently updated the tests. This will make adding features and fixing
bugs easier. Thanks for the bump.

Jared Burrows

*jaredsburrows@gmail.com <jaredsburrows@gmail.com>*
LinkedIn: https://www.linkedin.com/in/jaredsburrows

On Fri, Feb 8, 2019 at 11:18 AM darrengyles <notifications@github.com>
wrote:

[2019-02-13 11:04] alosdev opened #67 "pull in project dependency"
Hi Jared,

thanks for the plugin for really good. But one question, would it be possible that the plugin checks all dependencies transitively through the dependent subprojects? Currently, I have to duplicate all dependencies into the Android App module, otherwise, they are not recognized.

[2019-02-14 16:18] jaredsburrows commented on #52
Fixed here: https://github.com/jaredsburrows/gradle-license-plugin/pull/57.

[2019-02-14 16:18] #52 closed

[2019-02-16 19:58] jaredsburrows commented on #67
You want to display dependencies of dependencies?

[2019-02-16 19:58] jaredsburrows commented on #63
Bump

[2019-02-16 19:59] jaredsburrows commented on #59
Bump
What would a text report give you?

[2019-02-17 08:07] Yousha commented on #59
[code]

Something like that

[2019-02-17 17:33] 030 commented on #63
This works:

projectA/build.gradle

This does not work:

projects/some-projects/projectA/build.gradle
projects/some-projects/projectB/build.gradle
projects/some-projects/projectC/build.gradle
projects/some-projects/projectD/build.gradle
projects/some-projects/projectE/build.gradle

[2019-02-17 18:03] jaredsburrows commented on #63
Where is the plugin being applied at? `projects/build.gradle` or in each `projects/some-projects/projectX/build.gradle`?

[2019-02-17 18:57] 030 commented on #63
First I enabled it in `projects/build.gradle`, then per project. None of them works. I ran both gradle build in debug mode, but I could not find a cause.

[2019-02-17 21:41] jaredsburrows commented on #63
What do these `build.gradle` files look like? Do they use `java` or `android` plugins?

[2019-02-18 10:03] alosdev commented on #67
I think that works already (I hope). it is more, that I have a multi-module Android project and trying to create a report in the application module, but it doesn't check/show dependencies in sub gradle modules, which currently only defined there as an implementation dependency. It showed them only in the report if I add the dependency also in the app-module.

[2019-02-19 15:54] ligi commented on #49
sorry for getting back so late to this. I do not see this supported currently.

currently I see these generating tasks:

[code]

I do not see a taks that is generating for withGeth and noGeth

[2019-02-19 16:55] ligi opened #69 "undesired capitalisation"
I get the following in the generated json:

[code]

I think the `Org` looks really off and it should not be capitalized.

[2019-02-22 15:37] natnan opened #70 "More dependency details"
Hi. Thanks for the plugin, it's been quite useful.

I got this strange requirement of reporting a very detailed licensing information each dependency including the transitive ones. That adds up to about ~180 dependencies, which means it's better be automated.

I managed to compile something using your library and a python script using the output json but there is still a lot to do. I noticed there

[2019-02-26 17:49] 030 commented on #63
It is only java code and their are only java plugins. For example, the gradle ben manes plugin is included as a plugin as well and works in this structure.

[2019-03-12 18:58] ashwinraghav opened #72 "Versions are not picked up from parent poms"
Some projects like `okHttp` seems to not codify versions directly, but in the parent pom files that have a 1:1 mapping with each release.
I can't tell if this is in accordance to the pom spec. But the maven plugin for gradle itself seems to honor this codification.

[code]

The problem I see if that the license plugin has versions set to null, which is frankly quite reasonable.
[code]

Could we ha

[2019-03-24 22:01] jaredsburrows commented on #63
Maybe I will take a look at the following: https://github.com/ben-manes/gradle-versions-plugin/blob/master/src/main/groovy/com/github/benmanes/gradle/versions/VersionsPlugin.groovy#L28.

[2019-03-24 22:11] jaredsburrows commented on #48
I am updating this project and converting it to Kotlin. I have also updated the tests to use the newer Gradle test suite. Once I am done, it should be much easier to setup a test to fix this.

[2019-03-31 14:07] amnong commented on #48
Cool, thanks for the update! I admit in the meantime I had to find an alternative, so I'm using another plugin for now.

[2019-04-11 04:14] AlexanderEggers opened #79 "Add option to define asset folder and file name"
It would be quite useful if the plugin allows devs to define the asset folder destination and the related file name (both for the json and html).

[2019-04-23 02:20] jaredsburrows commented on #72
This feature was done here: https://github.com/jaredsburrows/gradle-license-plugin/pull/27. It also has tests. What version are you using?

[2019-04-23 02:29] jaredsburrows commented on #67
It should do this already. We have a few tests that include subprojects. Is that what you mean?

[2019-04-23 02:45] jaredsburrows commented on #55
Maybe we should create a separate configuration per variant?

[2019-04-23 02:47] jaredsburrows commented on #49
Do you have a link to your project?

[2019-04-23 02:50] ligi commented on #49
https://github.com/walleth/walleth

[2019-04-23 02:54] #69 closed

[2019-04-23 02:59] jaredsburrows commented on #43
Since we print out dependencies without licenses in #17, I am closing this. See this logging: https://github.com/jaredsburrows/gradle-license-plugin/commit/08dc12e048c131c67adb06882b8a63dece4dc930#diff-d80ecee9904217d739f465cdc0085e2aR128.

[2019-04-23 02:59] #43 closed

[2019-04-23 03:00] jaredsburrows commented on #51
What version of the plugin are you using?

[2019-04-23 03:03] jaredsburrows commented on #49
Thanks! What version of the plugin did you use? This user got an exception for having multiple configurations: https://github.com/jaredsburrows/gradle-license-plugin/issues/55.

[2019-04-23 05:00] #55 closed

[2019-04-23 07:04] #48 closed

[2019-04-23 07:05] jaredsburrows commented on #72
Closed by #88

[2019-04-23 07:05] #72 closed

[2019-04-23 09:20] egargan commented on #55
Thanks for addressing this!

[2019-05-23 08:32] andreasgrill commented on #41
I have the same issue.
I have a project with two modules "app" and "persistence", "persistence" is a dependency for "app".
Dependencies from the persistence module are not included in the app/build/reports/licenses/licenseReleaseReport.json.

The build.gradle in my app module looks like this:
[code]

The build.gradle in my persistence module looks like this:
[code]

And here is my root build.gradl

[2019-05-30 16:10] pranavvij commented on #37
Could you please update us on this as my json is empty. I am trying to execute my task as show below.

[code]

[2019-07-25 01:10] javadude commented on #38
I was having similar issues to this. I played around with the LicenseTask (dropping it in my buildSrc and hacking away), and it looks like the issue is lenientConfiguration hides some conflicts:

[code]

When I changed this to use `resolvedConfiguration.resolvedArtifacts`, I see the submodule conflicts that lenientConfiguration was skipping:

[code]

Gradle dependency resolution not being my area

[2019-08-01 20:03] lzanita09 commented on #67
@jaredsburrows @alosdev I'm seeing the same issue as well, for a project with multiple modules, if the application module depends on other library modules, the license information of the library modules won't be pulled.

For example, if in the app module's build.gradle, I have
[code]
running the task won't give me any license information from any of these 3 modules.

I'm not familiar with how the

[2019-08-01 21:18] lzanita09 commented on #67
Not sure if I'm doing the right thing, but in [this test case](https://github.com/jaredsburrows/gradle-license-plugin/blob/master/src/test/groovy/com/jaredsburrows/license/LicensePluginAndroidSpec.groovy#L810), if I replace the
[code]
with
[code]
in [this place](https://github.com/jaredsburrows/gradle-license-plugin/blob/master/src/test/groovy/com/jaredsburrows/license/LicensePluginAndroidSpec.gro

[2019-08-12 16:00] pranavvij opened #104 "Issue related to Androidx and jettifier resulting in empty json and html"
After enabling Jetifier and Androidx into my project, the license report shows empty results. I tried printing the productFlavours in LicensePlugin, which gives an empty result. [here](https://github.com/pranavvij/gradle-kotlin-plugin) is the POC which demos this behavior. Investigating too as to why this issue prevails.

[2019-08-19 17:49] tagboola commented on #104
I'm getting the same error as well. When I run it in the command line via `./gradlew licenseDebugReport` it generates report with the correct dependencies. However, when I add it as task before `preBuild` I get an empty report. Here is the configuration that generates an empty report:

[code]

[2019-08-20 05:28] jaredsburrows commented on #104
@pranavvij I just tried your project. What is the error you are seeing?

git https://github.com/pranavvij/gradle-kotlin-plugin
cd gradle-kotlin-plugin
gradlew licenseDebugReport
cat app/build/reports/licenses/licenseDebugReport.json

<details close>
<summary>licenseDebugReport.json</summary>

[code]

</details>

[2019-08-20 08:31] pranavvij commented on #104
@jaredsburrows `gradlew licenseDebugReport` works perfectly. There is no issue with that, but as soon as I make dependOn the preBuild task. It gives empty report.

[2019-09-11 14:08] qkjerome commented on #36
@jaredsburrows we would also be interested in excluding some artifacts from the generated HTML report. Does your plugin provide a way to do that ?

[2019-09-13 17:43] jaredsburrows commented on #36
@qkjerome No but I am open to PRs :)

[2019-09-19 13:24] mgursch commented on #41
i have nearly the same setup, but dependencies of other modules than :app are not visible in the generated html file

[2019-10-14 21:34] DonnKey opened #108 "Housekeeping, but..."
I'm seeing the following warning, which wouldn't concern me except for the end-of-year deadline:

WARNING: API 'variant.getMergeResources()' is obsolete and has been replaced with 'variant.getMergeResourcesProvider()'.
It will be removed at the end of 2019.
For more information, see https://d.android.com/r/tools/task-configuration-avoidance.
To determine what is calling variant.getMergeResources()

[2019-10-16 13:55] DonnKey opened #109 "Include copyright year and developer in html (where available)."
This is a reactivation of issue #50. I'm working on that now, with pretty fair progress.
Handling the many instances of incomplete information in the POM will be "interesting".

[2019-10-16 14:07] DonnKey opened #110 "Crash, Windows only - file separator isn't a resource separator."
Actually two bugs here, both in HtmlReport#getLicenseText
1) The resource hierarchy separator appears to always be (forward) /, and the translation to \ on Windows causes the resource not to be found, since this isn't a file path. (Just remove the call to replace() ).
2)  The function should check for null result from getResource (although this isn't actually likely).
(getResource is Java, not Kot

[2019-10-17 05:20] #110 closed

[2019-10-17 05:28] jaredsburrows commented on #108
I believe you are seeing this from another plugin. I am not using `variant.getMergeResources()` in this plugin.

[2019-10-17 05:28] #108 closed

[2019-10-21 15:22] Zee-day opened #113 "License task not running automatically"
Hi,

I have setup your library as instructed but when I build and run my app nothing is generated in the assets folder but when I run the task manually it runs correctly. Am I incorrect in assuming that the task will run automatically?

This is my setup:

Top level gradle file
[code]

app module gradle file
[code]

[2019-11-04 09:30] Mostafayehya opened #115 "Generation of HTML report is failing, json is generated just right."
I'm trying with the following configurations :

[code]
however I get the following error, with an empty HTMLReport file.

[code]

when I use the Json configuration, json is generated with no issues.

[2019-11-07 14:53] tom-pratt commented on #104
Any more info on this? I am facing the same issue and depend on triggering the license task automatically in this way.

[2019-11-12 22:24] mattinger opened #116 "Would like a way to exclude certain group ids from the report"
The ability to give a set of artifacts (mainly by group id, but also possibly by groupId + artifactId combination) would help keep reports simple.

This is especially important when you are working on a large app that has a lot of internally generated libraries that do not need to factor into the report.

[2019-11-13 21:58] JLLeitschuh opened #117 "clearlydefined.io"
I just wanted to make you aware of this project which is attempting to capture missing license information from projects.

It may be useful to add something that can pull license information from it's API to fill in gaps.

clearlydefined.io

[2019-11-17 23:13] #109 closed

[2019-11-17 23:14] DonnKey commented on #109
Feature merged.

[2019-11-22 09:33] ened commented on #67
Given a 'releaseRuntimeClassPath` dependency tree generated with `./gradlew app:dependencies`:

[code]

Then, I would hope the generated report contains all transitive (dependencies of dependencies) as well.
Unfortunately, the report currently only seems to show the top level:

<img width="417" alt="Screenshot 2019-11-22 at 09 31 07" src="https://user-images.githubusercontent.com/269860/69414514-d

[2019-11-29 09:37] CleanHit opened #119 "Java Error during Executing"
When I execute ` .\gradlew.bat licenseDebugReport` I get:
[code]
I use OpenJDK 12.

[2019-11-29 09:49] CleanHit opened #120 "Cannot add Extension with Name 'licenseReport'"
I'm trying to find the suitable tool for licensing for me and when I have this one:
[code]
In my `gradle.build` file I get this error:

[code]

[2020-01-03 14:28] mark-dlc commented on #113
Bump. I'm having the same issue, tasks should definitely run automatically as per #22

I can only get the task to run automatically as per #38 but then it's empty.

[2020-01-09 08:21] vstanese commented on #115
Had the same problem and using 0.8.7-SNAPSHOT seems to fix it. The build is successful and now I have both the HTML and JSON files.

[2020-01-09 08:21] vstanese commented on #119
See https://github.com/jaredsburrows/gradle-license-plugin/issues/115#issuecomment-572445949

[2020-01-28 08:57] eighthave commented on #63
I'm currently doing a mass survey of the licenses used in Android apps, so it would be very useful to be able to run `./gradlew licenseReport` on all the apps.  But I have  the same issue as the original reporter.  Here is an free software project as an example:
https://github.com/ProtonVPN/android-app

[code]

[2020-02-11 12:26] hendrep commented on #120
I am getting the same error

[2020-02-11 12:54] hendrep commented on #115
I am struggling with the same issue. @vstanese I am unsure how yo use the 0.8.7-SNAPSHOT version?

[2020-02-11 20:02] stealthrabbi opened #121 "Is it possible for this to work in a multi-project environment with android and non-android projects"
I am not sure how I'd configure this plugin to work this way. I can't generate a report at hte top level that doesn't simply indicate "none". I also have tried running the task on a particular subproject that has the Android app, but it too does not generate a populated report.

[2020-02-12 02:55] jaredsburrows commented on #120
What is `com.github.jk1:gradle-license-report`?

[2020-02-12 08:40] hendrep commented on #120
It is a different license report generator plugin, I assume the op was testing different plugins and forgot to remove that dependency which has a conflicting extension name. I made the same mistake 🙈

[2020-02-13 10:33] CleanHit commented on #120
Ok, I've found some information in previous bug reports and I'm not getting the error anymore. What I did is:

1. Put the information below into the `build.gradle` file where the `buildscript` section is defined.
[code]
2. For convenience reasons I've created a different `dependency_license_scan.gradle` file for applying the plugin and for managing some of its settings with:

[code]
3. Import the

[2020-02-13 10:33] #120 closed

[2020-02-13 10:36] CleanHit commented on #120
I was still getting the error after commenting out the conflicting extension name.

[2020-02-26 04:30] jaredsburrows commented on #117
Thanks for posting this. Are you suggesting use APIs from clearlydefined as a fail safe instead of pulling them from the artifacts?

[2020-02-26 14:22] JLLeitschuh commented on #117
Thats kinda the thought

[2020-03-01 16:18] jaredsburrows commented on #119
Thanks @vstanese.

@CleanHit, `0.8.7` has been released.

[2020-03-01 16:18] #119 closed

[2020-03-01 16:19] jaredsburrows commented on #115
Thanks @vstanese.

@Mostafayehya, `0.8.7` has been released.

[2020-03-01 16:19] #115 closed

[2020-03-02 13:19] luiscurini commented on #67
I would also be interested in this. Only top level dependencies are added to the generated HTML.

[2020-03-03 16:01] PaulWoitaschek opened #123 "Release Tags"
It would be great if you could use tags when cutting a release so it's simpler to brows the release history & diff.

[2020-03-03 16:42] jaredsburrows commented on #123
Similar to [OkHTTP](https://github.com/square/okhttp/blob/master/CHANGELOG.md) and [RetroFit](https://github.com/square/retrofit/blob/master/CHANGELOG.md), I use a [CHANGELOG.md](https://github.com/jaredsburrows/gradle-license-plugin/blob/master/CHANGELOG.md).

[2020-03-03 16:42] #123 closed

[2020-03-03 16:48] PaulWoitaschek commented on #123
That's a different story. OkHttp and Retrofit also use tags. Like the rest of the professional world ✌️

[2020-03-03 16:50] PaulWoitaschek commented on #123
The thing is not the github release page. The thing is having git tags. That way you always know what the code was at which version.
When you now want to navigate back to release x because you want to know when you introduced which bug it's a pain without proper tagging.

[2020-03-03 17:28] jaredsburrows commented on #123
Ok cool. I will look into adding tags for newer versions.

On Tue, Mar 3, 2020, 8:50 AM Paul Woitaschek <notifications@github.com>
wrote:

[2020-03-03 17:33] PaulWoitaschek commented on #123
It's basically just a `git tag 1.2.3` and a `git push --tags`

[2020-03-04 00:32] jaredsburrows commented on #123
Done.

[2020-03-04 06:00] PaulWoitaschek commented on #123
Yay 🎉

[2020-03-04 07:24] BsBrabi commented on #113
A workaround is to run the task manually via the command line. I wrapped this into a gradle task and let `preBuild` depend on it:

[code]

[2020-03-04 07:28] BsBrabi commented on #104
A workaround is to run the task manually via the command line, see https://github.com/jaredsburrows/gradle-license-plugin/issues/113#issuecomment-594366803.

[2020-03-19 15:05] sigmabeta opened #126 "Android: Gradle 6.1 & Android Plugin 4.0 `InstantAppPlugin` failure"
When attempting to do a Gradle sync using Android Studio 4.0, the following error occurs:

Removing this plugin avoids the error. Perhaps some change in the tooling has resulted in this error?

[2020-03-19 21:57] jaredsburrows commented on #126
@sigmabeta This should fix https://github.com/jaredsburrows/gradle-license-plugin/pull/127. AFter it is merged, you can try to use the snapshot to test it.

[2020-03-19 21:58] jaredsburrows commented on #121
So it always has to be at the per project level?

[2020-03-20 01:04] stealthrabbi commented on #121
Are you asking me? I don't understand.

[2020-03-20 21:14] jaredsburrows commented on #121
How are you generating reports? By applying the plugin to each android library or app project?

[2020-04-02 08:30] ValCanBuild opened #128 "Not able to find license for Koin project - subfolders"
We use Koin in our project https://github.com/InsertKoinIO/koin which seems to be using a standard Apache 2.0 license. The only difference from other projects, though, seems to be that it's put it's separate projects in subfolders in a monorepo. I feel this plugin should still be able to resolve that, though?

[2020-04-13 19:00] kenyee commented on #126
Any ETA on a new release of this plugin?

[2020-04-20 13:39] jmini opened #129 "Buildscript dependency `com.android.tools.build:gradle:3.6.0` requires the `google` maven repository"
Your plugin has a dependency on `com.android.tools.build:gradle:3.6.0`, meaning the the `google` repository must be declared.

---
To reproduce the issue:

Create a new java project with gradle init:

[code]

Edit the build script as indicated on the readme (see `ADDED` sections) :

[code]

Run gradle build:

[code]

You get:

[code]

----
Solution:

Add `google()` as repository in the `buildscrip

[2020-05-07 21:52] sigmabeta commented on #126
Snapshot works for me, but do you have any updates on when this will be put into a release?

[2020-05-29 12:24] luiscurini commented on #126
I would also be interested in a stable release. I'm using the plugin API and I don't get the snapshot to work.

[code]

[2020-05-29 19:55] jaredsburrows commented on #126
`0.8.80` was released today.

[2020-05-29 19:55] #126 closed

[2020-05-29 20:34] #129 closed

[2020-06-15 13:03] jomapp opened #131 "Running license{$variant}Report while process{$variant}Manifest results in EMPTY json/html"
While using your gradle license plugin in a bigger project I noticed that it's not possible to run the **license{$variant}Report** in a task that also depends on **process{$variant}Manifest**, from the Android Gradle Plugin, somehow. Please see the following code. I also created a simple project [here](https://github.com/jomapp/GradleLicensePluginIssueSimple).

Running **generateLicenses** works f

[2020-06-18 03:36] kneep opened #132 "methods to fix unknown licenses"
Hello. Prompting the user to be aware of the unknown licenses is really a great feature. But we cannot just ship the notice without doing anything. Currently there seems no easy way to correct the information.

1. For very old libraries without license information in the pom, it would be better to give the user a chance to correct the license and then easily go ahead with the process. I would like

[2020-08-02 20:59] piegamesde opened #133 "Version 0.8.80 does not work: cannot find Android"
[code]

[2020-08-15 14:30] rafakob commented on #128
Any update on this?

[2020-12-22 08:31] mkubiczek commented on #67
@jaredsburrows @alosdev @ened  @luiscurini @lzanita09
Something must be different in dependency resolution in android library projects comparing to java library projects. I played a bit with the plugin code and managed to get working solution. This dependency resolution is however not my area of expertise so maybe there is better solution, not sure. This fix is based on my observation that we can

[2020-12-27 01:45] jaredsburrows commented on #133
The Android Gradle plugin is not on Jcenter(not updated anymore), Gradle plugins repo or Jitpack. It located on @google's maven repo here: https://maven.google.com/web/index.html?q=build#com.android.tools.build:gradle:3.6.0.

Please refer to the readme: https://github.com/jaredsburrows/gradle-license-plugin#download.

[code]

You need to make sure you have the `google()` repository in your `reposi

[2020-12-27 01:45] #133 closed

[2020-12-29 23:10] jaredsburrows commented on #70
What information do you think would be useful for open source license information?

[2020-12-29 23:14] jaredsburrows commented on #51
Docs on `canBeResolved `: https://docs.gradle.org/current/userguide/declaring_dependencies.html#sec:resolvable-consumable-configs.

Closing this since it sounds like you are using an older Gradle version.

[2020-12-29 23:14] #51 closed

[2020-12-29 23:15] jaredsburrows commented on #40
Closing this for now since this plugin is meant for a HTML report for 1 app.

[2020-12-29 23:15] #40 closed

[2020-12-30 10:42] natnan commented on #70
name, url, organization and developers are I think would be good to have.

[2020-12-30 14:49] jaredsburrows commented on #70
Name, url and developers are already in HTML and JSON reports.

[2020-12-30 14:59] natnan commented on #70
OK, thanks. Let's close this then.

I created this issue a while ago. I don't even remember what exactly I was trying to fix but now I realize I may have come to the wrong repository at the time :). Considering my script uses https://github.com/hierynomus/license-gradle-plugin/. Sorry about that.

But cool to know those things are in already and the plugin is being maintained. I might migrate to t

[2020-12-30 18:43] mkubiczek commented on #67
@alosdev @jaredsburrows
Since #134 is merged this issue should no longer exist and could be closed.

[2020-12-30 18:57] jaredsburrows commented on #67
Closed by #134

[2020-12-30 18:57] #67 closed

[2021-01-05 21:58] jaredsburrows commented on #132
Can you give an example?

[2021-01-05 22:15] jaredsburrows commented on #70
@natnan If you start using my plugin and want more details, feel free to reopen this or submit a PR!

[2021-01-05 22:15] #70 closed

[2021-01-15 13:28] sergeys-opera opened #143 "Don't (re)generate license report if not needed"
Gradle tasks have built-in support to detect changes in the input and output properties. Suppressing it via https://github.com/jaredsburrows/gradle-license-plugin/blob/e51039c38a773f9fd369d60ae12578e176cd93ff/src/main/kotlin/com/jaredsburrows/license/LicenseReportTask.kt#L57 is bad practice which among other things might significantly increase project build time. If the license task always reruns,

[2021-01-16 03:42] #143 closed

[2021-01-27 08:30] leonlatsch opened #145 "Configuation in Kotlin DSL?"
Hey, I want to only use the json report.
But the configuration is never recognized:

![image](https://user-images.githubusercontent.com/50983026/105963972-e5f4b780-6081-11eb-94f2-57f466ab4a83.png)

I am using Kotlin DSL.
Am I just doing it wrong?

My `app/build.gradle.kts`:
[code]
Classpath dependency in `build.gradle.kts`: `classpath("com.jaredsburrows:gradle-license-plugin:0.8.90")`

[2021-02-10 14:42] iliaskomp opened #146 "Jcenter/Bintray are shutting off on May 1st 2021"
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

According to the `README.md` of this project the jcenter repository is needed.

Are there any plans to migrate to an alternative repository?

[2021-02-11 18:39] jaredsburrows commented on #146
Thanks! Created this

https://issues.sonatype.org/browse/OSSRH-64436

[2021-02-18 11:46] Fabbi commented on #145
You have multiple options:
[code]

[2021-02-18 17:10] leonlatsch commented on #145
@Fabbi Where do I put this?

[2021-02-18 18:46] Fabbi commented on #145
Anywhere really. Where you tried the first time is fine.

[2021-02-18 18:47] leonlatsch commented on #145
@Fabbi Hmmm okay. Didn't work in my android project.

[2021-02-18 18:52] leonlatsch commented on #145
@Fabbi Is there any difference for the debug and release variants?

[2021-02-18 19:08] Fabbi commented on #145
That I can't help you with, I used it in a Java project.

I guess you'd have to configure the `license${variant}Report` Task then?

[2021-02-18 22:09] leonlatsch commented on #145
Okay. Maybe @jaredsburrows could help? :)

[2021-02-28 01:21] fwcd opened #148 "Plugin cannot be used in non-Android application projects"
Using the plugin in a vanilla Gradle Java/Kotlin application (as generated by `gradle init`) like this:

[code]

results in the following error:

[code]

This seems to be a regression, since plugin version `0.8.42` works fine.

[2021-03-25 11:30] wkornewald opened #149 "Invalid HTML in report"
In the HTML report the output contains `<li>...</li>` directly followed by the license text with `<a...><pre>` on the same level, but they must be wrapped in an `<li>` to be valid HTML.

[2021-04-18 10:39] MartinAhrer commented on #148
I think you have to add the google repository.
[code]

[2021-04-18 12:52] fwcd commented on #148
Thanks! Is there a way to use the plugin without pulling in the Android Build Tools?

[2021-05-10 07:48] nisrulz commented on #116
@jaredsburrows Is there some pointers how to hit this problem in the codebase? This is something I would like to have as well, but I am also open to try and help with the development work for it. Would like some pointers to start with (I have never developed a Plugin 🤷🏻‍♂️ )

[2021-05-12 16:22] ninniuz commented on #145
@leonlatsch you cannot access plugin extensions with type-safe accessors with Kotlin DSL if you `apply` a plugin. You should add the plugin in the `plugins` block to have Gradle generate type-safe accessors. But I don't know if this plugin is publishing plugin marker dependency, so it might be a bit tricky (you will have to configure a module substitution in your settings.gradle(.kts) file)

[2021-07-23 20:42] huahouzwift commented on #146
Any update on this? We are moving away from JCenter but this is a blocker.

[2021-09-22 11:51] ciprig opened #167 "fatal error on androidx.annotation"
Execution failed for task ':app:licenseProdReleaseReport'.

[2021-09-29 05:07] jaredsburrows commented on #149
Can you post a sample here?

[2021-09-29 05:12] jaredsburrows commented on #148
I might need to make this `compileOnly` - https://github.com/KeepSafe/dexcount-gradle-plugin/blob/master/build.gradle#L77

[2021-09-29 05:12] jaredsburrows commented on #146
I will publish a new release soon.

[2021-09-29 05:14] jaredsburrows commented on #145
@leonlatsch Have you tried what @Fabbi said?

[2021-09-29 05:20] leonlatsch commented on #145
@jaredsburrows the solution suggested by @ninniuz worked for me. Using it with an id Statement.

Sorry for not responding.

[2021-09-29 05:20] #145 closed

[2021-09-29 11:13] mudkiplex commented on #113
This works for me
`preBuild.dependsOn 'licenseReleaseReport'`

[2021-10-02 07:52] wkornewald commented on #149
The easiest way would be to change build.gradle to also generate the HTML report in this app: https://github.com/Digitaler-Impfnachweis/covpass-android

[2021-11-07 22:15] stephankn commented on #149
I can confirm the issue. Sample attached. Validating with https://validator.w3.org/check

I am uncertain at which html level you aiming, as the report HTMl does not contain a DOCTYPE.
forcing as html 3.2 and HTML 4.01 Transitional results in the mentioned violation.

Line 349, Column 21: document type does not allow element "A" here; assuming missing "LI" start-tag

[licenseReleaseReport.zip](http

[2021-11-07 22:30] stephankn commented on #149
I am not fluent in Kotlin. By looking at the source I guess that moving the `ul {` inside the foreach loop of hte next line should produce then valid html blocks. having a list of li, ending with the anchor and pre section of the license.

https://github.com/jaredsburrows/gradle-license-plugin/blob/732d2845a6fdafd339649b2aa5cb5e158af95bfa/src/main/kotlin/com/jaredsburrows/license/internal/report/H

[2021-11-30 13:30] hamishmaclean commented on #146
there is a bintray kotlinx sub-dependency that is failing to resolve now

[2022-01-12 16:23] smohammad commented on #146
Any updates on this? It cannot be found on `mavenCentral()`, although the README seems to say it is.

[code]

[2022-01-12 16:35] josephyanks commented on #146
We are now experiencing this as well (started this AM). Same error as above, but with:

[code]

[2022-01-13 11:26] another-dave commented on #146
I managed to resolve the plugin OK (tested with `./gradlew clean assembleDebug --no-build-cache --refresh-dependencies`, working fine) by adding the Gradle.org plugins repo to my buildscript repositories in `app/build.gradle`:

[code]
Just mentioning in case it's of use to some of ye.

[2022-01-23 21:21] jaredsburrows commented on #36
Closing this for now. Ideally, you want to run `gradlew licenseReleaseReport` once before you publish your final APK.

[2022-01-23 21:21] #36 closed

[2022-01-23 21:26] jaredsburrows commented on #37
As of `0.8.90`, the JSON report works, but it looks like it not being copied to the correct location.

[code]

I want to update the "defaults" but this does work:
[code]

[2022-01-23 21:27] #37 closed

[2022-01-23 21:28] jaredsburrows opened #169 "Update the defaults for generation and copying to the assets folder"
Based on https://github.com/jaredsburrows/gradle-license-plugin/issues/37, let's go ahead and generate and copy HTML generated license page to the `assets` folder.

These should be default to `true` while CSV and JSON generation should be `false`.

[code]

[2022-01-23 21:35] jaredsburrows commented on #37
@pranavvij

This works:

[code]

[2022-01-23 21:36] jaredsburrows commented on #38
I tested this locally:

[code]

[2022-01-23 21:36] #38 closed

[2022-01-23 22:24] jaredsburrows commented on #79
Do you mean a folder within the "asset" folder?

[2022-01-23 22:28] jaredsburrows commented on #113
You can setup yourself or run manually:

This works:

[code]

[2022-01-23 22:28] #113 closed

[2022-01-23 22:30] jaredsburrows commented on #104
You can setup yourself or run manually.

This works:

[code]

[2022-01-23 22:30] #104 closed

[2022-01-23 22:31] jaredsburrows opened #170 "Update README to show how to run this task automatically"
[code]

[2022-01-23 22:31] jaredsburrows opened #171 "Update README for Kotlin example"
Add Kotlin sample for dialog or activity.

[2022-01-23 22:35] jaredsburrows commented on #167
Do you have an example? I have this working here: https://github.com/jaredsburrows/android-gif-example.

[2022-01-23 22:35] #167 closed

[2022-01-23 22:42] jaredsburrows commented on #146
I have this working here: https://github.com/jaredsburrows/android-gif-example without `jcenter()`.

[2022-01-23 22:42] #146 closed

[2022-01-23 22:44] jaredsburrows commented on #128
@ValCanBuild Do you have a link to this project or an example?

[2022-01-23 22:50] jaredsburrows commented on #131
@jomapp What is the use case for this? Have you found a work around?

[2022-01-23 22:53] jaredsburrows commented on #121
Have you tried this plugin yet?

Similar to https://github.com/jaredsburrows/android-gif-example:

[code]

[code]

[2022-01-23 22:53] #121 closed

[2022-01-24 02:07] AlexanderEggers commented on #79
As much as I remember the plugin generates a folder which is located in a fixed location. It would be great if you could define that location yourself including the actual file name of the output.

[2022-02-08 10:36] Averus89 commented on #148
Hi I have the same problem as fwcd.
[code]
I have added google() to the repositories below
[code]
Still the same error about missing build tools. Changing to 0.8.42 is helping build project, however I have another exception while executing task
[code]

[2022-02-24 15:23] strooooke opened #173 "LicenseReportTask fails when run with gradle 7.2"
and/or android-gradle-plugin 7.1.2, but runs fine with gradle 7.0.2 and  AGP 7.0.3.

Stacktrace:

[code]

I'm pretty sure that `androidx.annotation:annotation` is just the first one in the list - and yes, that's the jar, not the pom, that won't parse as XML. But I have insufficient understanding of gradle to be of any further help, sadly.

[2022-03-22 11:53] rgocal commented on #173
any update on this?

[2022-03-30 15:07] keithle888 commented on #167
Having the same issue.

[2022-04-10 16:02] #171 closed

[2022-04-11 22:12] jaredsburrows commented on #148
@fwcd This is fixed in `0.9.0`.

[2022-04-11 22:12] #148 closed

[2022-04-11 22:37] jaredsburrows commented on #63
I believe this is resolved, I am using this in the root project here - https://github.com/jaredsburrows/android-gif-example/blob/master/build.gradle.kts#L20.

[2022-04-11 22:37] #63 closed

[2022-04-12 14:08] kratho commented on #173
The issue seems to be fixed with version 0.8.91 and #172

[2022-04-12 14:54] jaredsburrows commented on #173
This should be fine. The current build is built with Gradle `7.4.2` and is tested with it as well: https://github.com/jaredsburrows/gradle-license-plugin/blob/master/src/test/groovy/com/jaredsburrows/license/LicensePluginAndroidSpec.groovy#L90.

[2022-04-12 14:54] #173 closed

[2022-04-12 15:04] jaredsburrows opened #186 "Add task to generate licenses for all variants"

[2022-04-12 15:05] jaredsburrows commented on #49
With `0.8.91`, I see the following:
[code]

Please feel free to reopen.

[2022-04-12 15:05] #49 closed

[2022-04-14 18:19] ghgrgr opened #189 "Idea for a new task to check found licenses against list of allowed licenses"
**Motivation**
Certain licenses of project dependencies might be allowed and others not. A gradle task could automate the check if there are dependencies with licenses which are not allowed.

**Specification**
There is a plugin configuration that allows specifying a file name for the list of allowed licenses. When the new task is run, the file is read and licenses are collected as usual. If all li

[2022-04-19 18:51] jaredsburrows commented on #189
This is a great idea, I know there are a few plugins like that already - https://github.com/cashapp/licensee. If you want to help build that functionality into this plugin, that would be great!

[2022-04-21 14:17] #59 closed

[2022-04-22 07:46] ghgrgr commented on #189
Unfortunately, I have no experience with programming Gradle plugins, Kotlin or Groovy. :-( If this was a Java project, I would have been happy to.

[2022-04-24 21:39] nisrulz commented on #170
In order to accommodate Product variants in Android, something like this should also work:

[code]

This because the tasks are named: `assembleProductVariantNameRelease`.

Although your example would work too, in a very specific case where the exact task is run for generating all variants. The one suggested in this comment, could avoid extra processing of all variants to get the output.

[2022-04-24 21:41] jaredsburrows commented on #170
I might add automatic support for this, similar to https://github.com/jaredsburrows/gradle-spoon-plugin/blob/master/gradle-spoon-plugin/src/main/kotlin/com/jaredsburrows/spoon/projectAndroid.kt#L63.

[2022-04-24 22:01] nisrulz commented on #170
That looks much better. TIL 😸

Looking forward that being implemented.

[2022-05-14 12:12] sergeys-opera opened #212 "[Android] Up-to-date check is broken in 0.9.0 version of the plugin"
Steps to repro:
1. Add or remove a dependency in a build.gradle file for which a license report is generated.
2. Run `./gradlew licenseDebugReport` task.
3. Check the output.

Expected: the task gets executed and the report file is updated.
Actual: the task is marked UP-TO-DATE and the report file is not updated.

Changing the plugin version back 0.8.90 solves the issue. However in that case the g

[2022-05-14 21:32] jaredsburrows commented on #212
Sounds like I need cache configuration tests, similar to what I did here - https://github.com/jaredsburrows/gradle-spoon-plugin/blob/master/gradle-spoon-plugin/src/test/groovy/com/jaredsburrows/spoon/SpoonPluginSpec.groovy#L235.

[2022-05-16 07:39] sergeys-opera commented on #212
@jaredsburrows
I wrote a failing test. Just put it in `com.jaredsburrows.license.LicensePluginAndroidSpec` and run:
[code]

[2022-05-16 08:20] sergeys-opera commented on #212
...and I actually fixed the issue. Please take a look @jaredsburrows.

[2022-05-25 08:01] krzdabrowski opened #215 "Support for Version Catalog / plugins block?"
Currently when I'm trying to add the plugin using Version Catalog entry:
`license  = { id = "com.jaredsburrows.license", version.ref = "license" }`

And using it in `plugins` block in `build.gradle.kts`:
`alias(libs.plugins.license)`

I'm getting this vague error:
[code]

Looking at your [last commits](https://github.com/jaredsburrows/gradle-license-plugin/commit/b3b0fc21f79b964892607a28a3d52a72f9

[2022-05-25 17:12] jaredsburrows commented on #215
I have this working in my example app here: https://github.com/jaredsburrows/android-gif-example/blob/master/gradle/libs.versions.toml#L29.

See this commit: https://github.com/jaredsburrows/android-gif-example/commit/224a6ccf7e5acdf3464c15e09bfb6420475d94b3.

[2022-05-25 17:47] krzdabrowski commented on #215
Unfortunately everything looks the same in my code.

This kind of error looks fresh, I see the post on StackOverflow with same error that is week old [here](https://stackoverflow.com/questions/72263977/kotlin-multiplatform-build-output-size-error), maybe it's something Gradle/Version Catalog related?

The weirdest part is that all my other plugins work fine using Version Catalog's syntax but I'm n

[2022-05-25 18:31] jaredsburrows commented on #215
Is your project open source? Post here or make a repro project?

[2022-05-26 05:48] krzdabrowski commented on #215
Unfortunately not, and when I tried to reproduce it in a fresh project, everything works fine so... probably there is an issue related to combination of few plugins/Gradle settings (the only plugin that uses `kapt` in that project is Hilt and currently there's no way to use `ksp` yet). I also checked it's not related to Version Catalog because I got the same error using hardcoded text in `plugins`

[2022-05-26 05:48] #215 closed

[2022-06-29 03:43] jimlyas commented on #41
Any follow up on this?
cc @jaredsburrows

[2022-06-29 18:38] jaredsburrows commented on #41
@jimlyas I accept PRs :)

How would this work? Aggregate all submodules into the root where `gradlew licenseReport` was ran? What if there is more than one 1 app in the Gradle project?

[2022-07-15 15:35] paulWyszynski opened #221 "licenseReport unknown property"
Hi,

I'd like to remove some dependencies from the licenseReport task. When I add it to the gradle file, gradle sync fails with the following message:

`Caused by: groovy.lang.MissingPropertyException: Could not set unknown property 'ignoredPatterns' for extension 'licenseReport' of type com.jaredsburrows.license.LicenseReportExtension`

[2022-07-15 16:09] jaredsburrows commented on #221
I have not pushed out an update for this yet - https://github.com/jaredsburrows/gradle-license-plugin/pull/218. You can use the snapshot for now.

[2022-07-17 17:31] pawlinsky commented on #221
ok thanks.

Maybe you have an idea about my next issue :)
When I try to run the licenseReport task. I'm getting this error message:
[code]
This issue happens when I add the Huawei app service as a dependency:
[code]
affected package names:
com.huawei.hms.*
com.huawei.updatesdk.*

I have excluded these package names with ignoredPatterns, hoped this could fix the issue. I need to update an app to Ap

[2022-07-19 20:55] jaredsburrows commented on #221
@pawlinsky I would need to see the full stacktrace. I do not see this plugin mentioned in there.

[2022-07-20 08:36] pawlinsky commented on #221
Hi,

ok I've attached the report. I've run it with ./gradlew clean licenseReleaseReport --stacktrace

[licenseReleaseReport.txt](https://github.com/jaredsburrows/gradle-license-plugin/files/9148048/licenseReleaseReport.txt)

[2022-07-20 15:16] jaredsburrows commented on #221
Seems like a recursion issue. Can you post your build file?

[2022-07-21 10:57] pawlinsky commented on #221
Root build file:
[code]

App module build file:

[code]

[2022-07-27 12:39] pawlinsky commented on #221
Hi @jaredsburrows,

can the build files help you? I could upload the whole project as well.

[2022-08-09 07:23] sebastianludwig opened #222 "Full license text in JSON report"
Currently only the HTML report contains the full license text. We'd love to use your plugin but we need the full license text in the JSON report. Would you be open to a PR?

[2022-08-09 15:59] jaredsburrows commented on #222
Yes. I am always willing to accept PRs!. Can we add this new functionality while keeping the old functionality?

[2022-08-09 16:00] jaredsburrows commented on #221
I am not sure, can you try removing some of the dependencies? Such as `huawei`? Although, `ignoredPatterns` should ignore it. Maybe it is stuck somewhere else.

[2022-08-10 01:52] agonzalez-plume opened #223 "CSV writer doesn't escape / remove commas & newlines"
The csv output formatter gets confused when commas exist in the text being outputted.  The commas could simply be removed is probably the easiest.

As well newline characters seem to confused it too for instance '\n' in the description causes problems.

fixing could be as simple as doing:
csvreport.kt:82:

element.replace(",", " ").replace("\n"," ")

I haven't done a plugin change before, so not e

[2022-08-15 15:02] fejd opened #224 "License report task creation fails for androidTest + variant"
I wanted to try out the ```useVariantSpecificAssetDirs``` flag (set to ```true```) together with the ```ignoredPatterns``` feature so I updated to 0.9.1-SNAPSHOT. I ran into an issue when building though:

[code]

In the app module's ```build.gradle``` I do:

[code]

Partial stacktrace:

[code]

I have three androidTest source sets:

androidTest
androidTestVariant1
androidTestVariant2

No debug/re

[2022-09-14 08:48] realdadfish opened #226 "Duplicate assets issue"
In https://github.com/jaredsburrows/gradle-license-plugin/blob/a441c46b1b1f90792772d76638ddc48af53a2261/gradle-license-plugin/src/main/kotlin/com/jaredsburrows/license/projectAndroid.kt#L97 the plugin determines all configured assets directories of a specific build variant to be able to copy the generated resources to.

IMHO this is the wrong approach, because this leads to a "duplicate assets" is

[2022-09-14 09:29] realdadfish commented on #226
On a related note - generated assets should be separated by build variant under Android, so that

[code]

are all separated from each other and each target file can keep its original file name.

That way it is easier in multi-variant environments, because consumers don't have to rename files by hand or via a separate Gradle `Copy` task and also don't have to distinguish different filenames on runt

[2022-09-15 15:59] sebastianludwig commented on #222
Hey, sure, we can just add a new config value. A slight problem is that the defaults currently vary between JSON (not included) and HTML (included). Would it be okay with you to change the default of either one of them? Then we could have a config value like `includeFullLicenseTexts = true/false` which does the same for all reports. If yes, what should be the default value? `true`?

[2022-09-15 20:20] jaredsburrows commented on #224
Do you have an example repo or the actual `build.gradle*` file?

[2022-09-15 21:23] jaredsburrows commented on #132
Going to close this for now. This plugin simply generates a report of licenses based on the user given dependencies.

[2022-09-15 21:23] #132 closed

[2022-09-21 23:42] eygraber opened #227 "Exclude transitive dependencies"
Is there any way to exclude transitive dependencies?

[2022-10-11 08:36] fejd commented on #224
Sorry for the late response, here's an example project:

[LicenseReportAssetVariant.zip](https://github.com/jaredsburrows/gradle-license-plugin/files/9753117/LicenseReportAssetVariant.zip)

[2022-10-11 11:45] realdadfish opened #229 "Dozens of warnings when license output is generated"
The current version of the plugin spits out tons of warnings with AGP 7.2.x (7.3) / Gradle 7.5.1, like the following:

[code]

In addition to that, internal module dependencies seem to be analyzed as well and bring up attribute mismatch errors:

[code]

What's weird is that the descriptor `my.component:mymodule:some-version` is fully-qualified, even though it should just read `:mymodule`, because

[2022-10-28 06:21] harry248 opened #233 "Invalid hyperlinks in html report"
The generated html report contains hyperlinks like `<a href="#1934118923">Android Navigation UI (2.6.0-alpha03)</a>`. I suppose it shouldn't be like that. The csv, txt and json files contain the correct links.

[2022-11-09 09:35] hosseinabbasi-toast opened #234 "Cannot change dependencies of dependency configuration ':app:api' after it has been resolved."
I have this in my app build.gradle:
[code]

And when I run `licenseDebugReport`, I get this:

[2022-11-28 09:20] realdadfish opened #235 "Plugin breaks with Gradle 7.6"
After upgrading Gradle from 7.5.1 to 7.6 the plugin causes a build failure (we generate license information as part of every build):

[code]

The `logging` module is a JVM module in an otherwise mainly Android-driven build. I've got many build warnings before in 7.5 even (see #229), but had never a build failure. Maybe Gradle changed the publication details and no longer publishes `<module>.pom` c

[2022-11-28 13:53] realdadfish commented on #235
I've created https://github.com/gradle/gradle/issues/22875 upstream because this seems to be a Gradle regression actually.